{:tx/id #hlc "1774381353/0/0de71ddc1bd1b9a5706baa0ef6f2cdc1"
 :tx/agent "0de71ddc1bd1b9a5706baa0ef6f2cdc1"
 :tx/provenance :derived
 :tx/rationale "AR-2: reconciliation trace"
 :tx/causal-predecessors []
 :datoms [
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :db/ident :v :recon/trace-d784001f28fd5fa0 :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-command :v "observe" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighborhood :v "GUIDANCE" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid-kernel.src.context.inv-guidance-022" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid-kernel.src.guidance.adr-guidance-002" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid-kernel.src.guidance.inv-guidance-018" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid-kernel.src.guidance.inv-guidance-022" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid-kernel.src.methodology.inv-guidance-018" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid-kernel.src.methodology.inv-guidance-022" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid-kernel.src.spec_id.inv-guidance-022" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid.src.commands.seed.inv-guidance-022" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":impl/braid.src.inject.inv-guidance-022" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-neighbors :v ":task/t-150bf6dd" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-refs :v "INV-GUIDANCE-012" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-refs :v "INV-GUIDANCE-018" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-refs :v "INV-GUIDANCE-021" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-refs :v "INV-GUIDANCE-022" :op :assert}
   {:e #blake3 "ff7bed691b1012da05af0cf98dad594f2eb1e7b6ce322cd4d52dad9e7bc3570d" :a :recon/trace-refs :v "INV-GUIDANCE-024" :op :assert}
 ]}
