{:tx/id #hlc "1774563702/0/af86f4b0b23bbbe4de81fe20af03f998"
 :tx/agent "af86f4b0b23bbbe4de81fe20af03f998"
 :tx/provenance :observed
 :tx/rationale "FINDING: 7 C8 violations in kernel. (1) spec_id.rs:53 enforces INV/ADR/NEG only. (2-4) methodology.rs:389,444 and seed.rs:908,2820,3014 hardcode :spec/ prefix. (5) methodology.rs:908 hardcodes :spec/falsification. (6) task.rs:70-111 hardcodes 7 task types. (7) config.rs:149 defaults to crates/ for trace source. DOGFOOD-2: 3.48/10 on external Go project. Seed loses 28% sections on non-DDIS projects. Fix: parameterize SpecId from policy, replace :spec/ with policy queries, make task types schema-driven. Must follow F(S) redesign (Phase 2 before Phase 3). Traces: C8, INV-FOUNDATION-006, ADR-FOUNDATION-012."
 :tx/causal-predecessors []
 :datoms [
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :db/doc :v "FINDING: 7 C8 violations in kernel. (1) spec_id.rs:53 enforces INV/ADR/NEG only. (2-4) methodology.rs:389,444 and seed.rs:908,2820,3014 hardcode :spec/ prefix. (5) methodology.rs:908 hardcodes :spec/falsification. (6) task.rs:70-111 hardcodes 7 task types. (7) config.rs:149 defaults to crates/ for trace source. DOGFOOD-2: 3.48/10 on external Go project. Seed loses 28% sections on non-DDIS projects. Fix: parameterize SpecId from policy, replace :spec/ with policy queries, make task types schema-driven. Must follow F(S) redesign (Phase 2 before Phase 3). Traces: C8, INV-FOUNDATION-006, ADR-FOUNDATION-012." :op :assert}
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :db/ident :v :observation/finding-7-c8-violations-in-kernel-1-spec-idrs53-enforc :op :assert}
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :exploration/body :v "FINDING: 7 C8 violations in kernel. (1) spec_id.rs:53 enforces INV/ADR/NEG only. (2-4) methodology.rs:389,444 and seed.rs:908,2820,3014 hardcode :spec/ prefix. (5) methodology.rs:908 hardcodes :spec/falsification. (6) task.rs:70-111 hardcodes 7 task types. (7) config.rs:149 defaults to crates/ for trace source. DOGFOOD-2: 3.48/10 on external Go project. Seed loses 28% sections on non-DDIS projects. Fix: parameterize SpecId from policy, replace :spec/ with policy queries, make task types schema-driven. Must follow F(S) redesign (Phase 2 before Phase 3). Traces: C8, INV-FOUNDATION-006, ADR-FOUNDATION-012." :op :assert}
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :exploration/category :v :exploration.cat/spec-insight :op :assert}
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :exploration/confidence :v 0.95 :op :assert}
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :exploration/content-hash :v #bytes "219b374a455ce63fc266be610cd77799749ecde92c9d02a3fd1a6f8847aa1d7b" :op :assert}
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :exploration/maturity :v :exploration.maturity/sketch :op :assert}
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :exploration/source :v "braid:observe" :op :assert}
   {:e #blake3 "efb7962d20e88e0307d9924836918c950821535f04d29fdf152f0d06165bb30b" :a :exploration/source-session :v #blake3 "16cdc88940d832d2814577cb90f76e2fc85dece9c38c4bd489ccfaf658fb43e1" :op :assert}
 ]}
