{:tx/id #hlc "1774366460/0/af86f4b0b23bbbe4de81fe20af03f998"
 :tx/agent "af86f4b0b23bbbe4de81fe20af03f998"
 :tx/provenance :observed
 :tx/rationale "Close task(s): t-c0e8cbf8"
 :tx/causal-predecessors []
 :datoms [
   {:e #blake3 "f63eff42f90ace05b2ba10d786ca819bef830718539b5bb7b2b7d44b770f536c" :a :task/close-reason :v "Runtime schema implemented in D4-4: 6 :runtime/* attributes defined in RUNTIME_ATTRS, install_runtime_schema() function, idempotent installation. Capability attrs (:capability/*) will be added in PERF-4a." :op :assert}
   {:e #blake3 "f63eff42f90ace05b2ba10d786ca819bef830718539b5bb7b2b7d44b770f536c" :a :task/closed-at :v 1774366459 :op :assert}
   {:e #blake3 "f63eff42f90ace05b2ba10d786ca819bef830718539b5bb7b2b7d44b770f536c" :a :task/completion-method :v :task.completion/verified :op :assert}
   {:e #blake3 "f63eff42f90ace05b2ba10d786ca819bef830718539b5bb7b2b7d44b770f536c" :a :task/status :v :task.status/closed :op :assert}
 ]}
