{:tx/id #hlc "1773869123/0/af86f4b0b23bbbe4de81fe20af03f998"
 :tx/agent "af86f4b0b23bbbe4de81fe20af03f998"
 :tx/provenance :observed
 :tx/rationale "Update t-57782db5 → in-progress"
 :tx/causal-predecessors []
 :datoms [
   {:e #blake3 "6672cadc2cfea9290a390feac7f69e7a633ff6c202e52cf0bce0e349c3f57482" :a :task/status :v :task.status/in-progress :op :assert}
 ]}
